<%- include("partials/header.ejs") %>
    
    <h1>About</h1>
    <img class="profile" src="images/web.jpg" alt="creator">
    <p>
        Web development is the process of creating websites and web applications for the internet. 
        The foundation of web development was laid by Sir Tim Berners-Lee, who invented the World 
        Wide Web in 1989. He introduced core technologies such as HTML (HyperText Markup Language), 
        HTTP, and URLs, which made it possible to create and access web pages through a browser.
    </p>
    <p>
        In the early days, web development focused mainly on static web pages that displayed simple 
        text and images. As the internet evolved, the need for interactive and dynamic websites 
        increased. This led to the development of styling technologies like CSS and scripting languages 
        like JavaScript, which allowed developers to create more engaging and responsive user interfaces.
    </p>
    <p>
        With the growth of online applications, backend technologies also became an important part of web 
        development. Server-side programming languages and frameworks were introduced to handle data 
        processing, user requests, and database operations. This made it possible to build complex applications 
        such as blogs, social media platforms, and e-commerce websites.
    </p>
    <p>
        This blog is inspired by the evolution of web development and aims to share knowledge about how web technologies 
        work together to build real-world applications.
    </p>
<%- include("partials/footer.ejs") %>